---
import { Image } from "astro:assets";

import Global from "../layouts/Global.astro";

import StartMenu from "../components/StartMenu.astro";
import WindowCard from "../components/WindowCard.astro";
import DiscordStatus from "../components/DiscordStatus.svelte";

import chart from "../images/chart.png";
import fax from "../images/fax.png";
import msn from "../images/msn.png";
import program from "../images/program.png";
import users from "../images/users.png";
import wordpad from "../images/wordpad.png";
import briefcase from "../images/briefcase.png";
import pokebook from "../images/pokebook.png";
import Star from "../images/icons/star.svg";

const navItems = [
  { icon: wordpad, name: "Poem list", href: "/poems" },
  {
    icon: briefcase,
    name: "Book of Knowledge",
    href: "https://pokeghost.tiddlyhost.com/",
  },
  {
    icon: chart,
    name: "For investors",
    href: "https://buymeacoffee.com/pokegh0st",
  },
  { icon: fax, name: "Contact", href: "/contact" },
];

const socialItems = [
  { icon: program, name: "GitHub", href: "https://github.com/pokeghosst" },
  { icon: users, name: "Xitter", href: "https://x.com/pokeghosst" },
  { icon: msn, name: "Bsky", href: "https://bsky.app/profile/pokeghost.org" },
];
---

<Global title="poke!systems">
  <div class="container bento">
    <WindowCard title="Profile" class="wide">
      <div class="profile">
        <div class="pfp">
          <img
            src="https://gravatar.com/avatar/006539217bbbd05dc07385475b8cb3ea1d8f48087e408fce755ed32a1e18f3d4"
            alt="poke"
          />
        </div>
        <div class="status-container">
          <DiscordStatus client:only="svelte" />
        </div>
      </div>
      <ul class="navList socials">
        {
          socialItems.map((item) => (
            <li>
              <a href={item.href}>
                <Image src={item.icon} alt={item.name} />
                {item.name}
              </a>
            </li>
          ))
        }
      </ul>
    </WindowCard>
    <WindowCard title="Navigation">
      <ul class="navList">
        {
          navItems.map((item) => (
            <li>
              <a href={item.href}>
                <Image src={item.icon} alt={item.name} />
                {item.name}
              </a>
            </li>
          ))
        }
      </ul>
    </WindowCard>
    <WindowCard title="This club is Lit!" class="">
      <div class="club">
        <p>A REAL literature club, in Discord!</p>
        <a class="button" href="/club">LEARN MORE AND JOIN NOW!</a>
      </div>
    </WindowCard>
    <WindowCard title="Poke!Book" class="wide">
      <div class="pokebook">
        <div class="pokebook-lockup">
          <Image src={pokebook} height={72} width={72} alt="PokeBook icon" />
          <div>
            <p class="pokebook-name">PokeBook 3</p>
            {
              Array(5)
                .fill("")
                .map(() => <Star fill="currentColor" height={12} width={12} />)
            }
            <p>The best poem notebook in the Milky Way</p>
          </div>
        </div>
        <a class="button" href="https://www.pokebook.app/">START WRITING</a>
      </div>
    </WindowCard>
  </div>
  <StartMenu />
</Global>

<style>
  .container {
    margin: 0 auto;
    padding: 2rem 2rem calc(2rem + 52px) 2rem;
    max-width: 726px;
    display: flex;
    justify-content: center;
  }

  .bento {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .navList {
    list-style: none;
  }

  .navList li a {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .socials li a {
    gap: 12px;
  }

  .navList li:not(:last-child) {
    margin-bottom: 12px;
  }

  .window.large {
    grid-column: span 2;
    grid-row: span 2;
  }

  .window.wide {
    grid-column: span 2;
  }

  .window.tall {
    grid-row: span 2;
  }

  .window.full {
    grid-column: span 3;
  }

  .profile {
    display: flex;
    gap: 14px;
    min-height: 96px;
  }

  .profile img {
    width: 80px;
    height: 80px;
  }

  .pokebook {
    margin: -16px;
    display: flex;
    flex-direction: column;
  }

  .pokebook .button {
    text-align: center;
  }

  .pokebook-lockup {
    display: flex;
    gap: 14px;
    align-items: center;
    margin-bottom: 16px;
  }

  .pokebook img {
    border-radius: 12px;
  }

  .pokebook-name {
    font-size: 18px;
  }

  .club {
    text-align: center;
  }

  .club p {
    margin-bottom: 1rem;
  }

  .web-buttons {
    display: flex;
    gap: 4px;
  }

  .pfp,
  .pfp img {
    border: 2px solid var(--border-grey);
    background-color: var(--bg-color);
  }

  .pfp {
    width: 82px;
    height: 82px;
    padding: 4px;
  }

  .socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 22px;
    margin-bottom: -8px;
  }

  .status-container {
    flex-grow: 1;
  }

  @media screen and (max-width: 674px) {
    .bento {
      display: flex;
      flex-direction: column;
    }
  }

  @media screen and (max-width: 425px) {
    .socials {
      gap: 6px 10px;
      justify-content: space-evenly;
    }

    .socials li a {
      gap: 8px;
    }
  }

  @media screen and (max-width: 375px) {
    .profile {
      flex-direction: column;
      align-items: center;
      min-height: 194px;
    }
  }
</style>
